html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.Home, #home-slider, .HorizontalSlide, .HorizontalSlide.slide, .pushable, .pusher, .ui.segment, .ui.segment.pushable {
  overflow-y: hidden;
}

.page h1.stripe, .menu-title {
  font-size: 5em;
  font-family: "Monoton-Regular";
}
.menu-title {
  margin-top: 10px;
  color: white;
}



.page {
  height: 100vh;
  background: transparent;
}
.page .page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page .page-content .page-content__inner {
  padding: 50px;
}
.page .page-content .page-content__inner {
  display: flex;
  justify-content: space-around;
}
#Visual .page-content .page-content__inner .page-title .stripe {
  display: inline-block;
  position: relative;
  z-index: 10;
  margin-top: 50px;
}
.page .ui.segment {
  box-shadow: none;
  border: none;
  border-radius: normal;
}
.pushable, .pusher, .ui.segment, .ui.segment.pushable {
  background: transparent;
}
#audio-sidebar, .page-content {
  height: 100vh;
}
#audio-sidebar .item .card.song_card {
  margin: auto;
}




/* VISUAL */

#Visual .media {
  position: relative;

}
#Visual .media h1 {
  position: absolute;
  font-size: 3em;
  font-family: "Monoton-Regular";
  top: 30%;
  right: -20%;
}
#Visual .media h1:nth-of-type(1) {
  
}
#Visual .media h1:nth-of-type(2) {
  top: 35%;
  
}
#Visual .media .picture {
  height: 300px;
  width: 300px;
}
#Visual .media .picture img {
  height: 100%;
  /* width: 100%; */
  object-fit: cover;
  object-position: center;
}
/* VISUAl */
#video-menu {
  overflow-x: scroll;
  }
  #video-menu .item {
    display: block!important;
  }
  #video-menu .item:before, .ui.inverted.menu .item:before {
    display: none;
  }
  #video-menu .video_card {
    max-height: 400px;
  }
  #video-menu .video_card video {
    height: 100%;
    width: 100%;
  }
  #video-menu .header h3 {
    font-size: 2em!important;
    font-family: "Monoton-Regular"!important;
    color: white!important;
  }
  .photo_card {
    max-height: 300px;
    max-width: 300px;
  }
  .photo_card img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }


/* QUICKLOADER */
#QuickLoader {
  text-align: center;
  background: #1c1c1d;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.quickLoader-content span {
  display: inline-block;
  height: 15px;
  width: 15px;
  background: #2FAC9B;
  border-radius: 0px;
}
.quickLoader-content .border-radius {
  border-radius: 500px;
}

.quickLoader-content span:nth-child(1) {
  -webkit-animation: temp 1s 0.05s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.05s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(2) {
  -webkit-animation: temp 1s 0.1s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.1s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(3) {
  -webkit-animation: temp 1s 0.15s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.15s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(4) {
  -webkit-animation: temp 1s 0.2s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.2s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(5) {
  -webkit-animation: temp 1s 0.25s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.25s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(6) {
  -webkit-animation: temp 1s 0.3s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.3s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(7) {
  -webkit-animation: temp 1s 0.35s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.35s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(8) {
  -webkit-animation: temp 1s 0.4s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.4s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(9) {
  -webkit-animation: temp 1s 0.45s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.45s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(10) {
  -webkit-animation: temp 1s 0.5s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.5s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(11) {
  -webkit-animation: temp 1s 0.55s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.55s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(12) {
  -webkit-animation: temp 1s 0.6s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.6s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(13) {
  -webkit-animation: temp 1s 0.65s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.65s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(14) {
  -webkit-animation: temp 1s 0.7s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.7s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(15) {
  -webkit-animation: temp 1s 0.75s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.75s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(16) {
  -webkit-animation: temp 1s 0.8s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.8s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(17) {
  -webkit-animation: temp 1s 0.85s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.85s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(18) {
  -webkit-animation: temp 1s 0.9s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.9s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(19) {
  -webkit-animation: temp 1s 0.95s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 0.95s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
.quickLoader-content span:nth-child(20) {
  -webkit-animation: temp 1s 1s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
          animation: temp 1s 1s infinite cubic-bezier(0.005, 0.56, 0.58, 1.59);
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    background: #93e1d7;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    margin: 0 3px;
    background: #2FAC9B;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    background: #93e1d7;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    margin: 0 3px;
    background: #2FAC9B;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes rotateY {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    background: #93e1d7;
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes rotateY {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    background: #93e1d7;
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@-webkit-keyframes rotateX {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg) scale(0.5, 0.5);
            transform: rotateX(90deg) scale(0.5, 0.5);
    background: #93e1d7;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes rotateX {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg) scale(0.5, 0.5);
            transform: rotateX(90deg) scale(0.5, 0.5);
    background: #93e1d7;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@-webkit-keyframes push {
  0% {
    -webkit-transform: translateX(0px) scale(0.9, 0.6);
            transform: translateX(0px) scale(0.9, 0.6);
  }
  50% {
    -webkit-transform: translateY(-20px) scale(0.7, 1.1);
            transform: translateY(-20px) scale(0.7, 1.1);
    background: #6bd6c8;
  }
  100% {
    -webkit-transform: translateX(0px) scale(0.9, 0.6);
            transform: translateX(0px) scale(0.9, 0.6);
  }
}
@keyframes push {
  0% {
    -webkit-transform: translateX(0px) scale(0.9, 0.6);
            transform: translateX(0px) scale(0.9, 0.6);
  }
  50% {
    -webkit-transform: translateY(-20px) scale(0.7, 1.1);
            transform: translateY(-20px) scale(0.7, 1.1);
    background: #6bd6c8;
  }
  100% {
    -webkit-transform: translateX(0px) scale(0.9, 0.6);
            transform: translateX(0px) scale(0.9, 0.6);
  }
}
@-webkit-keyframes rotateZ {
  0% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  50% {
    -webkit-transform: rotateZ(20deg) scaleY(1.2);
            transform: rotateZ(20deg) scaleY(1.2);
    background: #6bd6c8;
  }
  100% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
}
@keyframes rotateZ {
  0% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  50% {
    -webkit-transform: rotateZ(20deg) scaleY(1.2);
            transform: rotateZ(20deg) scaleY(1.2);
    background: #6bd6c8;
  }
  100% {
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
}
@-webkit-keyframes cuve {
  0% {
    -webkit-transform: rotateY(-90deg) perspective(50px);
            transform: rotateY(-90deg) perspective(50px);
    background: #195c53;
  }
  50% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    background: #6bd6c8;
  }
  100% {
    -webkit-transform: rotateY(90deg) perspective(50px);
            transform: rotateY(90deg) perspective(50px);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    background: #195c53;
  }
}
@keyframes cuve {
  0% {
    -webkit-transform: rotateY(-90deg) perspective(50px);
            transform: rotateY(-90deg) perspective(50px);
    background: #195c53;
  }
  50% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    background: #6bd6c8;
  }
  100% {
    -webkit-transform: rotateY(90deg) perspective(50px);
            transform: rotateY(90deg) perspective(50px);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    background: #195c53;
  }
}
@-webkit-keyframes temp {
  50% {
    -webkit-transform: scale(1, 5);
            transform: scale(1, 5);
    background: #195c53;
  }
}
@keyframes temp {
  50% {
    -webkit-transform: scale(1, 5);
            transform: scale(1, 5);
    background: #195c53;
  }
}

nav a {
	position: absolute;
	bottom: 0;
	/* display: block; */
	outline: none;
	text-align: left;
	z-index: 1000;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

nav a.prev {
	left: 30%;
}

nav a.next {
	right: 30%;
}

.nav-fillpath a {
	width: 50px;
	height: 50px;
}

.nav-fillpath .icon-wrap {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.nav-fillpath a::before,
.nav-fillpath a::after,
.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
	position: absolute;
	left: 50%;
	width: 3px;
	height: 50%;
	background: gray;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
	z-index: 100;
	height: 0;
	background: black;
	-webkit-transition: height 0.3s, -webkit-transform 0.3s;
	transition: height 0.3s, transform 0.3s;
}

.nav-fillpath a::before,
.nav-fillpath .icon-wrap::before {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-135deg);
	transform: translateX(-50%) rotate(-135deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.nav-fillpath a.next::before,
.nav-fillpath a.next .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(135deg);
	transform: translateX(-50%) rotate(135deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.nav-fillpath a::after,
.nav-fillpath .icon-wrap::after {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-45deg);
	transform: translateX(-50%) rotate(-45deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.nav-fillpath a.next::after,
.nav-fillpath a.next .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
	-webkit-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
}

.nav-fillpath h3 {
	position: absolute;
	top: 50%;
	margin: 0;
	color: black;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 0.85em;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  font-family: "Monoton-Regular";
}

.nav-fillpath a.prev h3 {
	left: 100%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.nav-fillpath a.next h3 {
	right: 100%;
	text-align: right;
	-webkit-transform: translateY(-50%) translateX(50%);
	transform: translateY(-50%) translateX(50%);
}

.nav-fillpath a:hover .icon-wrap::before,
.nav-fillpath a:hover .icon-wrap::after {
	height: 50%;
}

.nav-fillpath a:hover::before,
.nav-fillpath a:hover .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(-125deg);
	transform: translateX(-50%) rotate(-125deg);
}

.nav-fillpath a.next:hover::before,
.nav-fillpath a.next:hover .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(125deg);
	transform: translateX(-50%) rotate(125deg);
}

.nav-fillpath a:hover::after,
.nav-fillpath a:hover .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(-55deg);
	transform: translateX(-50%) rotate(-55deg);
}

.nav-fillpath a.next:hover::after,
.nav-fillpath a.next:hover .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(55deg);
	transform: translateX(-50%) rotate(55deg);
}

.nav-fillpath a:hover h3 {
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(0);
	transform: translateY(-50%) translateX(0);
}


/* Filters */

nav#filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav#filters ul li {
  padding: 0 20px;
  display: inline-block;
}

nav#filters ul li:last-child {
  padding-right: 0;
}

nav#filters ul li:first-child {
  padding-left: 0;
}

nav#filters ul li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  opacity: .5;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding-bottom: 8px;
  border-bottom: 4px solid transparent;
}

nav#filters ul li a.active,
nav#filters ul li a:hover {
  opacity: 1 !important;
  border-bottom: 4px solid white;
}

@media screen and (max-width: 1200px) {
  nav#filters ul li {
    padding: 0 8px;
  }
}

@media screen and (max-width: 950px) {
  nav#filters {
    text-align: center;
  }
  nav#filters ul li {
    display: block;
    padding: 4px 0;
  }
  nav#filters ul li a {
    border: 0 !important;
  }
}




/* Header */

header#main-header {
  height: 160px;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  z-index: 10;
}

header#main-header a.nav-link {
  text-decoration: none;
  display: block;
  line-height: 2;
  padding-bottom: 8px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  z-index: 3;
}

.ui.dropdown>.text {
  display: inline-block;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12px;
}
.nav-link.audio .text, .nav-link.visual .text {
  font-family: "Monoton-Regular";
  color: #5D5A5A!important;
}

.sub-label {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12px;
  color: black;
}

.ui.dropdown .menu>.item.text__inner {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 10px;
  font-family: "Monoton-Regular";
  color: #5D5A5A!important;
}

.date {
  letter-spacing: 2px;
  font-size: 12px;
  color: black;
  font-family: "Monoton-Regular";
}

@media screen and (min-width: 950px) {
  header#main-header a.nav-link:after {
    content: '';
    display: block;
    margin-top: 8px;
    width: 0;
    height: 4px;
    background: white;
    -webkit-transition: all .6s;
    transition: all .6s;
  }
}

header#main-header a.brand {
  position: relative;
}

@media screen and (max-width: 950px) {
  header#main-header {
    height: auto;
    position: absolute;
  }
}

.loaded header#main-header a.nav-link:hover:after,
.loaded header#main-header a.nav-link.active:after {
  width: 100%;
}

.loaded header#main-header li:hover a.nav-link:after {
  width: 100%;
}

nav.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.main-nav ul li {
  padding: 0;
  position: relative;
}

@media screen and (min-width: 950px) {
  nav.main-nav ul li {
    z-index: 2;
  }
  nav.main-nav ul li ul.dropdown {
    position: absolute;
    max-height: 0;
    opacity: 0;
    min-width: 250px;
    margin-top: -8px;
    padding-top: 16px;
    overflow: hidden;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: opacity .3s, max-height 0s .3s, -webkit-transform .3s;
    transition: opacity .3s, max-height 0s .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s, max-height 0s .3s;
    transition: transform .3s, opacity .3s, max-height 0s .3s, -webkit-transform .3s;
  }
  nav.main-nav ul li ul.dropdown li {
    position: relative;
  }
  nav.main-nav ul li ul.dropdown li a.nav-link {
    font-size: 14px;
    padding-bottom: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  nav.main-nav ul li ul.dropdown li a.nav-link:after {
    display: none !important;
  }
  nav.main-nav ul li ul.dropdown li a.nav-link:hover {
    opacity: .5;
  }
  nav.main-nav ul li:hover ul.dropdown {
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
    max-height: 9999px;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media screen and (max-width: 950px) {
  ul.nav-links {
    overflow-y: auto;
    text-align: center;
    padding-bottom: 16px;
  }
  ul.nav-links a.nav-link {
    color: #000;
    font-size: 2em;
  }
  ul.nav-links a.nav-link:after {
    display: none;
  }
  ul.nav-links li a.nav-link {
    color: #fff;
  }
  ul.nav-links li:nth-child(2) {
    padding-top: 16px !important;
  }
  ul.nav-links li:last-child {
    padding-bottom: 16px !important;
  }
  ul.nav-links li ul.dropdown {
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
  }
  ul.nav-links li ul.dropdown li {
    padding: 4px 0 !important;
  }
  ul.nav-links li ul.dropdown li a {
    font-size: 1.2em;
  }
  ul.nav-links li.brand {
    background: none;
    display: block;
    padding: 16px 0 !important;
  }
  .responsive-nav {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: 32px auto 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding-top: 16px;
  }
  .responsive-nav .bar {
    height: 2px;
    margin: 4px 0;
    background: white;
  }
  section {
    -webkit-transition: opacity 0s;
    transition: opacity 0s;
  }
  ul.nav-links li {
    opacity: 0;
    height: 0;
  }
  ul.nav-links li.brand {
    opacity: 1;
  }
  ul.nav-links li ul.dropdown li {
    opacity: 1;
  }
  ul.nav-links li ul.dropdown li a {
    font-weight: 300 !important;
  }
  body.menu-open #main-header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
  }
  body.menu-open section {
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }
  body.menu-open ul.nav-links {
    display: block;
  }
  body.menu-open ul.nav-links li {
    height: auto;
  }
  body.menu-open .responsive-nav {
    margin-top: 40px;
    margin-bottom: 8px;
  }
  body.menu-open .responsive-nav .bar {
    margin: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  body.menu-open .responsive-nav .bar:first-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  body.menu-open .responsive-nav .bar:nth-child(2) {
    opacity: 0;
    height: 0;
  }
  body.menu-open .responsive-nav .bar:last-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -2px;
  }
}

.responsive-nav .bar {
  -webkit-transition: all .3s;
  transition: all .3s;
}


/* Hero */

.hero {
  width: 100%;
  height: 900px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1200px) {
  .hero {
    height: 700px;
  }
}

@media screen and (max-width: 950px) {
  .hero {
    height: 550px;
  }
}

.hero.fs {
  height: 100vh;
}

.hero h1 {
  line-height: 1;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.hero a.project-link {
  text-decoration: none;
}

.hero a.project-link:hover h1:after {
  max-width: 100%;
}

@media screen and (max-height: 900px) {
  .hero {
    height: 700px;
  }
}

@media screen and (max-height: 900px) and (max-width: 1200px) {
  .hero {
    height: 500px;
  }
}

@media screen and (max-width: 950px) {
  .hero {
    text-align: center;
  }
}


/* Particle JS */

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

.particlesJs {
  position: absolute;
  z-index: -5;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


/* Tape */

.mast__img {
  width: auto;
  display: inline-block;
  /* 
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(50%); */
}

.mast__img h1 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 4em;
  font-family: "Monoton-Regular";
}

.mast__img h2 {
  position: absolute;
  left: 65%;
  font-weight: bold;
  font-size: 30px;
  top: 40%;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 4em;
  font-family: "Monoton-Regular";
}

.mast__img img {
  display: block;
  max-width: 34em;
  width: 100%;
  margin: 0 auto;
  /* -webkit-filter: invert(1);
          filter: invert(1); */
  mix-blend-mode: screen;
}




@keyframes soundleft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25px);
  }
}

@keyframes soundright {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    transform-origin: center center;
  }
  50% {
    transform: scale(1.06);
    transform-origin: center center;
  }
}

@keyframes scalebigger {
  0% {
    transform: scale(1);
    transform-origin: center center;
  }
  50% {
    transform: scale(1.1);
    transform-origin: center center;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}


/* ALBUM GALLERY */

#AlbumGallery,
#SongGallery {
  position: absolute;
  /* overflow-y: scroll!important; */
  padding-top: 50px;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.album_card {
  position: relative;
  z-index: 1000;
}

.song_card {
  margin: auto;
}

.timeline {
  margin: 30px auto;
  padding: 0 10px;
  position: relative;
  transition: all 0.25s ease-in;
  width: 100%;
}

.timeline::before {
  background: #000;
  content: '';
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 3px;
}

.timeline::after {
  clear: both;
  content: '';
  display: table;
  width: 100%;
}

.timeline-icon {
  background: #fefefe;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin-left: -23px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50px;
}

.timeline-icon img,
.timeline-icon svg {
  left: 14px;
  position: relative;
  top: 11px;
}

.timeline-icon svg {
  top: 14px;
}


/* PLAYER */


/* Player Styles */

div#amplitude-player {
  background: #FFFFFF;
  box-shadow: 0 2px 12px 8px rgba(0, 0, 0, 0.10);
  margin-bottom: 20px;
  margin-top: 40px;
  max-height: 500px;
  height: 100%;
  overflow-y: scroll;
  max-width: 400px;
}


/* Player Left Styles */

div#amplitude-left {
  padding: 0px;
  border-right: 1px solid #CFD8DC;
}

div#amplitude-left img[amplitude-song-info="cover_art_url"] {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

div#amplitude-left div#player-left-bottom {
  background-color: #F1F1F1;
  padding: 20px 10px;
}

div#amplitude-left div#player-left-bottom div#time-container span.current-time {
  color: #607D8B;
  font-size: 14px;
  font-weight: 700;
  float: left;
  width: 15%;
  text-align: center;
}

div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider {
  -webkit-appearance: none;
  width: 70%;
  float: left;
  margin-top: 10px;
}

@-moz-document url-prefix() {
  div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider {
    margin-top: 0px;
  }
}

@supports (-ms-ime-align:auto) {
  div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider {
    margin-top: -4px;
    height: 30px;
  }
}

@media all and (-ms-high-contrast:none) {
  *::-ms-backdrop,
  div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider {
    margin-top: -8px;
  }
}

div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider:focus {
  outline: none;
}

div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider::-webkit-slider-runnable-track {
  width: 75%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: #CFD8DC;
}

div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #00A0FF;
  cursor: pointer;
  margin-top: -8px;
  -webkit-appearance: none;
}

div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider:focus::-webkit-slider-runnable-track {
  background: #CFD8DC;
}

div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: #CFD8DC;
}

div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #00A0FF;
  cursor: pointer;
  margin-top: -8px;
}

div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: #CFD8DC;
}

div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider::-ms-fill-lower {
  background: #CFD8DC;
  border-radius: 2.6px;
}

div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider::-ms-fill-upper {
  background: #CFD8DC;
  border-radius: 2.6px;
}

div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #00A0FF;
  cursor: pointer;
  margin-top: 4px;
}

div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider:focus::-ms-fill-lower {
  background: #CFD8DC;
}

div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider:focus::-ms-fill-upper {
  background: #CFD8DC;
}

div#amplitude-left div#player-left-bottom div#time-container input[type=range].amplitude-song-slider::-ms-tooltip {
  display: none;
}

div#amplitude-left div#player-left-bottom div#time-container span.duration {
  color: #607D8B;
  font-size: 14px;
  font-weight: 700;
  float: left;
  width: 15%;
  text-align: center;
}

div#amplitude-left div#player-left-bottom div#time-container:after {
  content: "";
  display: table;
  clear: both;
}

div#amplitude-left div#player-left-bottom div#control-container {
  margin-top: 25px;
}

div#amplitude-left div#player-left-bottom div#control-container div#repeat-container {
  width: 20%;
  float: left;
}

div#amplitude-left div#player-left-bottom div#control-container div#repeat-container div#repeat {
  width: 24px;
  height: 19px;
  cursor: pointer;
  float: right;
  margin-top: 20px;
}

div#amplitude-left div#player-left-bottom div#control-container div#repeat-container div#repeat.amplitude-repeat-off {
  background: url('/img/repeat-off.svg');
}

div#amplitude-left div#player-left-bottom div#control-container div#repeat-container div#repeat.amplitude-repeat-on {
  background: url('/img/repeat-on.svg');
}

div#amplitude-left div#player-left-bottom div#control-container div#central-control-container {
  width: 60%;
  float: left;
}

div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls {
  width: 130px;
  margin: auto;
}

div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls div#previous {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url('/img/prev.svg');
  background-repeat: no-repeat;
  float: left;
  margin-top: 10px;
  margin-right: -5px;
}

div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls div#play-pause {
  display: inline-block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  float: left;
}

div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls div#play-pause.amplitude-paused {
  background: url('/img/play.svg');
}

div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls div#play-pause.amplitude-playing {
  background: url('/img/pause.svg');
}

div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls div#next {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url('/img/next.svg');
  background-repeat: no-repeat;
  float: left;
  margin-top: 10px;
  margin-left: -5px;
}

div#amplitude-left div#player-left-bottom div#control-container div#shuffle-container {
  width: 20%;
  float: left;
}

div#amplitude-left div#player-left-bottom div#control-container div#shuffle-container div#shuffle {
  width: 23px;
  height: 19px;
  cursor: pointer;
  float: left;
  margin-top: 20px;
}

div#amplitude-left div#player-left-bottom div#control-container div#shuffle-container div#shuffle.amplitude-shuffle-off {
  background: url('/img/shuffle-off.svg');
}

div#amplitude-left div#player-left-bottom div#control-container div#shuffle-container div#shuffle.amplitude-shuffle-on {
  background: url('/img/shuffle-on.svg');
}

div#amplitude-left div#player-left-bottom div#control-container:after {
  content: "";
  display: table;
  clear: both;
}

div#amplitude-left div#player-left-bottom div#meta-container {
  text-align: center;
  margin-top: 5px;
}

div#amplitude-left div#player-left-bottom div#meta-container span.song-name {
  display: block;
  color: #272726;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#amplitude-left div#player-left-bottom div#meta-container div.song-artist-album {
  color: #607D8B;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#amplitude-left div#player-left-bottom div#meta-container div.song-artist-album span {
  display: block;
}


/* Player right styles */

div#amplitude-right {
  padding: 0px;
  overflow-y: scroll;
}

div#amplitude-right div.song {
  cursor: pointer;
  padding: 10px;
}

div#amplitude-right div.song div.song-now-playing-icon-container {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

div#amplitude-right div.song div.song-now-playing-icon-container /img.now-playing {
  display: none;
  margin-top: 15px;
}

div#amplitude-right div.song div.play-button-container {
  display: none;
  /* background: url('/img/list-play-light.png') no-repeat; */
  width: 22px;
  height: 22px;
  margin-top: 10px;
}

div#amplitude-right div.song div.play-button-container:hover {
  /* background: url('/img/list-play-hover.png') no-repeat; */
}

div#amplitude-right div.song.amplitude-active-song-container div.song-now-playing-icon-container /img.now-playing {
  display: block;
}

div#amplitude-right div.song.amplitude-active-song-container div.song-now-playing-icon-container:hover /img.now-playing div.play-button-container {
  display: none;
}

div#amplitude-right div.song div.song-meta-data {
  float: left;
  width: calc( 100% - 110px);
}

div#amplitude-right div.song div.song-meta-data span.song-title {
  color: #272726;
  font-size: 16px;
  display: block;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#amplitude-right div.song div.song-meta-data span.song-artist {
  color: #607D8B;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#amplitude-right div.song /img.bandcamp-grey {
  float: left;
  display: block;
  margin-top: 10px;
}

div#amplitude-right div.song /img.bandcamp-white {
  float: left;
  display: none;
  margin-top: 10px;
}

div#amplitude-right div.song span.song-duration {
  float: left;
  width: 55px;
  text-align: center;
  line-height: 45px;
  color: #607D8B;
  font-size: 16px;
  font-weight: 500;
}

div#amplitude-right div.song:after {
  content: "";
  display: table;
  clear: both;
}


/* Small only */

@media screen and (max-width: 39.9375em) {
  div#amplitude-player div#amplitude-left /img[amplitude-song-info="cover_art_url"] {
    width: auto;
    height: auto;
  }
}


/* Medium and up */

@media screen and (min-width: 40em) {}


/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}


/* Large and up */

@media screen and (min-width: 64em) {}


/* Large only */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}


/* VIDEO */

.inkblot_container {
  display: inline-block;
  height: 400px;
  width: 400px;
  position: relative;
  margin-left: 50px;
  bottom: 50px;
}

.inkblot_container_inner {
  mix-blend-mode: lighten;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

.inkblot_container #myVideo {
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -10;
  margin: auto;
  transform: scale(1.5);
}

.inkblot_container h1 {
  color: white;
  font-weight: normal;
  font-size: 15px;
  opacity: 0;
  -webkit-transition: all 0.8s 0.2s;
  transition: all 0.8s 0.2s;
  text-align: center;
  display: block;
  position: relative;
  left: 40%;
  top: 30%;
  z-index: 10;
  width: max-content;
}


/* PHOTOGRAPHY */

#Photography {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.react-photo-gallery--gallery {
  position: relative;
}
.react-photo-gallery--gallery div:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  height: 100vh;
  width: 100%;
  background: #1c1c1d;
  padding: 100px 200px;
}
.react-photo-gallery--gallery div:nth-of-type(1) img {
  object-fit: contain;
  height: auto;
  
}

.button_close {
  position: absolute;
  z-index: 20002;
  top: 20px;
  right: 20px;
}






@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

  .page .page-content .page-content__inner {
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }
  .page h1.stripe, .menu-title, .mast__img h1, .mast__img h2 {
    font-size: 2em;
  }
}
@media (max-width: 576px) {
  .particlesJs {
    display: none;
  }
  .mast__img h2 {
    left: 40%;
    top: 60%;
  }
}


