/* FONTS 
********************************** */

@font-face {
  font-family: "Monoton-Regular";
  src: url("/fonts/Monoton-Regular.ttf");
}

div.player {
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  width: 100%;
  margin: auto;
  
}
div.player img.album-art {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 150px;
  /* float: left; */
}
div.player div.meta-container {

  padding: 10px;
}
div.player div.meta-container div.song-title {
  /* text-align: center; */
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12px;
  color: black;
  
}
div.player div.meta-container div.song-artist {
  font-family: "Monoton-Regular";
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12px;
  color: black;
  margin-top: 10px;
}
div.player div.meta-container div.time-container {
  font-family: Helvetica;
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
/* div.player div.meta-container div.time-container div.current-time {
  float: left;
}
div.player div.meta-container div.time-container div.duration {
  float: right;
}
div.player div.meta-container div.time-container:after {
  content: "";
  display: table;
  clear: both;
} */
div.player div.meta-container progress.amplitude-song-played-progress:not([value]) {
  /* background-color: #313252; */
  margin-top: 10px;
}
div.player div.meta-container progress.amplitude-song-played-progress {
  background-color: #d7dee3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 10px;
  width: 100%;
  height: 2px;
  display: block;
  cursor: pointer;
  border-radius: 3px;
  
  border: none;
}
div.player div.meta-container progress[value]::-webkit-progress-bar {
  background-color: #d7dee3;
  border-radius: 3px;
}
div.player div.meta-container progress[value]::-moz-progress-bar {
  background-color: #00a0ff;
  border-radius: 3px;
}
div.player div.meta-container progress[value]::-webkit-progress-value {
  background-color: #00a0ff;
  border-radius: 3px;
}
div.player div.meta-container div.control-container {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
div.player div.meta-container div.control-container img {
  height: 25px;
  width: 25px;
  margin: 0 10px;
}
div.player div.meta-container div.control-container div.amplitude-prev {
  width: 28px;
  height: 24px;
  cursor: pointer;
  /* background: url('/img/previous.svg'); */
  display: inline-block;
  vertical-align: middle;
}
div.player div.meta-container div.control-container div.amplitude-play-pause {
  width: 40px;
  height: 44px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
div.player div.meta-container div.control-container div.amplitude-play{
  /* background: url('/img/play.svg'); */
}
div.player div.meta-container div.control-container div.amplitude-play-pause.amplitude-playing {
  /* background: url('/img/pause.svg'); */
}
div.player div.meta-container div.control-container div.amplitude-next {
  width: 28px;
  height: 24px;
  cursor: pointer;
  /* background: url('/img/next.svg'); */
  display: inline-block;
  vertical-align: middle;
}
div.player:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 39.9375em) {
  div.player img.album-art {
    width: 100%;
    height: auto;
  }
  div.player div.meta-container {
    width: 100%;
  }
  div.player div.control-container div.amplitude-prev {
    margin-right: 75px;
  }
  div.player div.control-container div.amplitude-next {
    margin-left: 75px;
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  div.player div.control-container div.amplitude-prev {
    margin-right: 40px;
  }
  div.player div.control-container div.amplitude-next {
    margin-left: 40px;
  }
}
/* Large and up */
@media screen and (min-width: 64em) {
  div.player div.control-container div.amplitude-prev {
    margin-right: 75px;
  }
  div.player div.control-container div.amplitude-next {
    margin-left: 75px;
  }
}